.head {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 66;
  text-align: start;
  width: 100%;
  background-color: white;
  height: 30px;
  line-height: 20px;
  padding: 8px;
}

.head span:nth-child(1) {
  display: inline-block;
  width: 48%;
  color: #2f8bfa;
}

.head span:nth-child(2) {
  color: #323233;
  font-weight: 500;
  font-size: 16px;
}

.content {
  overflow: hidden;
  background-color: #f5f5f5;
}

.content .swiper {
  margin-top: 30px;
}

.content .swiper ::v-deep .van-swipe__indicator--active {
  background-color: purple !important;
}

.content .imgs {
  width: 100%;
}

.content ::v-deep .van-swipe__indicator {
  background-color: white;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}

.top div {
  background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/servicePolicyRed-518d32d74b.png) 0 no-repeat;
  background-size: 5.0px;
  padding-left: 7.5px;
  display: flex;
  align-items: center;
  font-size: 12.5px;
  color: #666;
}

.introduce {
  height: 100%;
  background-color: #fff;
}

.introduce :nth-child(1) {
  font-size: 20.5px;
  padding: 10px;
}

.introduce :nth-child(2) {
  margin-bottom: 12.5px;
  font-size: 12px;
  color: #999;
}

.introduce :nth-child(3) {
  margin-top: 5px;
  font-size: 17.5px;
  color: #b4282d;
  padding-bottom: 19.339px;
}

.section-nav {
  height: 54px;
  background: #fff;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-nav :nth-child(2) {
  width: .69333rem;
  height: .69333rem;
  background: url(../../assets/come.png) no-repeat;
  background-size: 100% 100%;
}

.center {
  padding: 16px 16px 160px;
}

.paramter {
  margin: 0 auto;
  width: 90%;
  text-align: start;
  padding: 10px 15px;
  background: #fff;
  margin-bottom: 10px;
}

.paramter .title {
  font-size: 19px;
  padding: 10px 0;
}

.paramter .runde {
  display: block;
  background: #f7f7f7;
  padding: 10px 0;
  margin: 10px;
  width: 90%;
}

.paramter .runde :nth-child(1) {
  display: inline-block;
  min-width: 6em;
}

.desc {
  display: block;
}

.desc ::v-deep p {
  margin: 0;
  padding: 0;
}

.desc ::v-deep p img {
  display: block;
  width: 100%;
}

.problem {
  margin-bottom: 55px;
}

.problem .h {
  padding: 17.5px 0;
  background: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.problem .h .line {
  display: inline-block;
  height: 5px;
  width: 50px;
  background: #ccc;
}

.problem .h .title {
  padding: 0 12.5px;
  background: #fff;
}

.problem ul {
  text-align: start;
  white-space: wrap;
  padding: 0 15px;
  background: #fff;
}

.problem ul li {
  padding-bottom: 12.5px;
}

.problem ul li .questbox {
  display: flex;
}

.problem ul li .questbox .spot {
  height: 4.0001px;
  width: 4.0001px;
  background: #b4282d;
  border-radius: 50%;
  margin-top: 5.5001px;
}

.problem ul li .questbox .quest {
  line-height: .4rem;
  padding-left: 0.10667rem;
  display: block;
  font-size: .34667rem;
  padding-bottom: 0.2rem;
  color: #303030;
}

.problem ul li p {
  margin: 0;
  line-height: .53333rem;
  padding-left: 0.21333rem;
  font-size: .34667rem;
  color: #787878;
}

.sublist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 5px;
}

.sublist .absa p {
  text-align: start;
  margin: 12px 0;
  text-indent: 1em;
}

.sublist .absa :nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding: 10px;
}

.sublist .absa :nth-child(3) {
  color: #9c3232;
}

.sublist div {
  width: 180px;
  height: 221px;
  margin-bottom: 5.205px;
  background-color: #fff;
}

.sublist .names p {
  margin-top: 50px;
  color: #333;
  font-size: 16.5px;
}

.sublist .names img {
  margin-top: 31.232px;
  width: 36.42px;
  height: 36.42px;
}

.sublist .abst {
  width: 130px;
  height: 130px;
}

.aab {
  padding-bottom: 70px;
}

.words {
  display: flex;
  margin-bottom: 17.5px;
  position: relative;
}

.words .left {
  height: 88.5px;
  width: 88.5px;
  margin-right: 15px;
}

.words .left img {
  float: left;
  height: 88.5px;
  width: 88.5px;
}

.words .right {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.words .right div p {
  width: 100%;
  line-height: 22.5px;
}

.words .right div :nth-child(1) {
  color: #b4282d;
}

::v-deep .van-goods-action {
  z-index: 9999;
}

::v-deep .van-goods-action button {
  border-radius: 0;
}
