.head {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 66;
  text-align: start;
  width: 100%;
  background-color: white;
  height: 30px;
  line-height: 20px;
  padding: 8px;
}

.head span:nth-child(1) {
  display: inline-block;
  width: 48%;
  color: #2f8bfa;
}

.head span:nth-child(2) {
  color: #323233;
  font-weight: 500;
  font-size: 16px;
}

.canned {
  margin: 0;
  padding: 30px 0 0 0;
}

.canned img {
  display: block;
  width: 100%;
}

.goods .title {
  height: 45px;
  line-height: 45px;
  display: flex;
  justify-content: space-around;
}

.goods .title .on {
  color: red;
}

.goods .title .top {
  display: flex;
  align-items: center;
}

.goods .title .top .iconBox {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
}

.goods .goodslist {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.goods .goodslist li {
  box-sizing: border-box;
  width: 50%;
  border-bottom: 0.5px solid #d9d9d9;
  border-right: 1Px solid #d9d9d9;
}

.goods .goodslist li img {
  display: block;
  width: 151px;
  height: 151px;
  margin: 0 auto;
}

.goods .goodslist li p {
  text-align: center;
}

.goods .goodslist li :nth-child(3) {
  color: #b4282d;
  font-size: 16px;
}
